.form {
  background-color: #6233b9;
  padding: 1rem;
  width: 20rem;
  animation: animate-in 0.6s ease-out;
}

.form label {
  display: block;
  margin-bottom: 0.05rem;
  color: #e6ddf9;
  font-weight: 600;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 20px;
}

.actions button{
  cursor: pointer;
  font:inherit;
  padding: 0.5rem 1.5rem;
  border: none; 
  border-radius: 4px;
  background-color: #34036c;
  color: #e5d5f7;
}



@keyframes animate-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}